body {
    background-color: rgb(233, 233, 233); 
    color: rgb(51, 51, 51); 
    padding: 30px;           
    line-height: 1.8;
    font-family: sans-serif;
   
}

h1 {
    color: rgb(255, 0, 0); 
    border-bottom: 2px solid rgb(0, 0, 0); 
}

h2 {
    color: rgb(244, 64, 0); 
    border-bottom: 2px solid rgb(0, 0, 0); 
}

p {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.headline {
    color: rgb(0, 0, 0);
    border-bottom: none;
}

.boldtext {
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.modboxes {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgb(255,255,255);
    border-left: 6px solid rgb(255, 0, 0);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.craftboxes {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgb(255,255,255);
    border-left: 6px solid rgb(0,0, 255);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.craftboxes img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 10px;
}

.craftboxes p {
    text-align: left;
}

.oreboxes {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgb(255,255,255);
    border-left: 6px solid rgb(255,217,0);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.itemboxes {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgb(255,255,255);
    border-left: 6px solid rgb(0, 255, 0);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    flex-wrap: wrap; 
}
.itemboxes img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.ores {
    width: 135px;        
    height: 135px;       
    object-fit: cover;  
    border-radius: 8px;     
}

.images {
    width: 25%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto; 
    border-radius: 8px;
}

@media (max-width: 600px) {
    .images {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.windturbines {
    width: auto;        
    height: 275px;
    border-radius: 8px;     
}
.mainboxes {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

p img {
    display: block;
    width: 100%;
    height: auto;
}

